.continue-number {
  &__wrap {
    padding-top: 29px;
    padding-bottom: 28px;

    p {
      word-spacing: 7px;
    }
  }

  .block-heading {
    font-size: 19px;
    line-height: 31px;

    @media (min-width: $tablet-width) {
      font-size: 21px;
      line-height: 34px;
    }

    @media (min-width: $descktop-width) {
      font-size: 24px;
    }
  }
}
