.header {
  width: 100%;
  margin: 0 auto;
  background-color: $header-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  @media (min-width: $tablet-width) {
    max-width: 768px;
  }

  &__toggle {
    display: none;
  }

  &__logo {
    display: none;
  }
}

.header--open {
  .header__toggle {
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: inherit;
    background-image: url("../img/menu-close.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    cursor: pointer;
    top: 18px;
    right: 13px;

    &:hover {
      opacity: 0.5;
    }
  }
}

.header--closed {
  height: 46px;

  @media (min-width: $tablet-width) {
    height: 50px;
  }

  @media (min-width: $descktop-width) {
    height: 55px;
  }

  .header__toggle {
    display: block;
    position: absolute;
    width: 24px;
    height: 16px;
    background-color: inherit;
    border: none;
    cursor: pointer;
    top: 11px;
    left: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 3px;
      z-index: 2;
      box-shadow: 0 6px 0 0 $btn-background, 0 12px 0 0 $btn-background, 0 18px 0 0 $btn-background;
    }

    &:hover::before {
      box-shadow: 0 6px 0 0 $excretion-color, 0 12px 0 0 $excretion-color, 0 18px 0 0 $excretion-color;
    }

    @media (min-width: $descktop-width) {
      top: 18px;
    }
  }

  .header__logo {
    padding-left: 48px;
    display: flex;
    align-items: center;
    font-family: "Yeseva One", "Arial", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-decoration: none;
    color: $excretion-color;

    @media (min-width: $tablet-width) {
      font-size: 15px;
      line-height: 17px;
      justify-content: center;
    }

    @media (min-width: $descktop-width) {
      font-size: 18px;
    }

    &--big {
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.1em;

      @media (min-width: $tablet-width) {
        font-size: 23px;
        line-height: 26px;
      }

      @media (min-width: $descktop-width) {
        font-size: 26px;
      }

      span {
        padding-left: 24px;
      }
    }

    img {
      width: 48px;
      height: 47px;
    }

    span {
      padding-left: 9px;
    }

    @media (min-width: $tablet-width) {
      img {
        width: 52px;
        height: 51px;
      }
    }

    @media (min-width: $descktop-width) {
      img {
        width: 57px;
        height: 56px;
      }
    }
  }

  .navigation {
    display: none;
  }
}
